* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
}

body {
    width: 100vw;
}

#img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 80%;
    margin: auto;
}
h1 {
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* max-width: 400px; */
    text-align: center;
}

#image {
    max-width: 200px;
    height: 300px;
}

.tribute-info {
    border: 1px solid black;
    max-width: 70vw;
    margin: auto;
}

h3 { 
    margin-top: 10px;
    margin-bottom: 10px;
}



